<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="dashboard :: head">

</head>
<body>
	<header th:replace="dashboard :: header"></header>
	<main class="pt-5 mx-lg-5">
	<div class="container-fluid mt-5">
	<h4 class="text-center" >Agregar Categoria</h4>
	 <div class="card-body d-sm-flex justify-content-between">
	  <div class="container w-100">
	  <form th:action="@{/categoria/guardar}" th:object="${categoria}" method="post">
	  
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
      <label class="form-label" for="form3Example1">Nombre</label>
        <input type="text" id="form3Example1" class="form-control" th:field="*{nombre}"/>
        
      </div>
    </div>
    </div>
   



  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4" >Agregar</button>
  

  <!-- Register buttons -->
  
</form>
	  </div>
	  
	  </div>
	</div>
	</main>
	<div th:replace="dashboard :: script"></div>
</body>
</html>